[% start_year=2021 %]
[% MACRO example(file) BLOCK %]
[%- pl =  file _ ".pl" -%]
[%- out = file _ "-out.txt" -%]
[% INCLUDE $pl | xtidy %]

produces output

[% INCLUDE $out | xtidy %]

(This example is included as L<F<[% pl %]>|https://fastapi.metacpan.org/source/BKB/Unicode-Confusables-[% info.version %]/examples/[% pl %]> in the distribution.)
[% END %]
[% MACRO since(version) BLOCK -%]
This method was added in version [% version %] of the module.
[%- END %]
=encoding UTF-8

=head1 NAME

[% info.colon %] - Identify and replace Unicode confusables

=head1 SYNOPSIS

[% example("synopsis") %]

=head1 VERSION

This documents version [% info.version %] of [% info.name %]
corresponding to L<git commit [% commit.commit %]|[% info.repo
%]/commit/[% commit.commit %]> released on [% commit.date %].

This Perl module incorporates [% metadata.title %] version [%
metadata.version %] dated [% metadata.date %], copyright [%
metadata.copyright %]. [% metadata.terms %].

=head1 DESCRIPTION

This module offers functions for dealing with Unicode "confusables",
characters which look similar to one another but are represented by
different Unicode code points.

=head1 FUNCTIONS

=head2 canonical

   my $canonical = canonical ($c);

If C<$c> is a confusable, give the canonical form of C<$c>. If $c is
already the canonical form of itself, return $c. If C<$c> is not a
confusable, this returns the undefined value. "Canonical" here just
means the character which is used as a representative of the group of
confusables in the L</Unicode data files>.

=head2 confusable

    if (confusable ($c)) {
        # do something.
    }

This returns a true or false value depending on whether C<$c> is a
confusable. This matches C<$c> against a large regex in
L<Unicode::Confuse::Regex>.

=head2 similar

    my @similar = similar ('p');

Return a list of confusables which are similar to the given input. If
the input is not a confusable, an empty list is returned.

The first character in C<@similar> is the canonical form, and the
remaining characters are the other confusables associated with that
canonical form. These remaining characters, if more than one, are
sorted by code point.

=head3 Example: obfuscate text

This example obfuscates strings by substituting confusable letters
with substitutes picked at random from the confusable data for the
letters.

[% example("obfuscate") %]

=head1 DEPENDENCIES

=over

=item L<File::Slurper>

This is used by the parsing module L<Unicode::Confuse::Parse>.

=item L<JSON::Parse>

This is used to parse the JSON-formatted file of confusables
distributed with the module.

=back 

=head1 BUGS

=over

=item Unicode specifications

This does not even attempt to replicate the Unicode requirements for
software for handling confusables. In other words, this Perl module
makes no claim whatsoever to be "An implementation claiming
conformance to this specification" as described in the text of the
L</Unicode Consortium specification>.

=item Data quality

The data in the Unicode confusables file is of mixed quality, with
nearly identical or indistinguishable characters muddled together with
things which are clearly quite different from one another.

=back

=head1 SEE ALSO

=head2 In this distribution

The script F<make-confusables.pl>, available only in the github
repository, makes the data files for this Perl distribution.

L<Unicode::Confuse::Parse> is used to parse the data file
(F<confusables.txt>). It is used by F<make-confusables.pl>.

L<Unicode::Confuse::Regex> is generated by F<make-confusables.pl>. It
matches all confusables.

The unexported variable C<$Unicode::Confuse::data> contains the
complete confusable data. C<< $data->{confusables} >> contains a map
from confusables to the canonical format, and C<< $data->{reverse} >>
contains a map from the canonical form to an array containing the
corresponding set of confusables, which may have only one member.

=head2 Unicode Consortium information

=over

=item Unicode Consortium specification

See L<http://www.unicode.org/reports/tr39> for the Unicode Consortium
specification.

=item Unicode data files

The following links point to the latest data files:

=over

=item L<The data used by this module|https://www.unicode.org/Public/security/latest/confusables.txt>

=item L<The same data in a different format|https://www.unicode.org/Public/security/latest/confusablesSummary.txt>

=back

=item L<Unicode Utilities: Confusables|https://util.unicode.org/UnicodeJsps/confusables.jsp>

The utility says

=over

With this demo, you can supply an Input string and see the
combinations that are confusable with it, using data collected by the
Unicode consortium.

=back

=back

[% INCLUDE "author" %]
